<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hotel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84CAB8111F4AE4A700AC2857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84CAB82D1F4AE4A800AC2857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84CAB8381F4AE4A800AC2857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
